body{
    background-color: #aaaa33;
    color:green;
}
.square{
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: #000;
    /* border-top: 5px solid red;
    border-bottom: 5px solid green; */
    /* border-radius:50% ;*/
    transform: rotate(45deg);
} 
.x{
    /* margin: 50px; */
    position: relative;
    left:20px;
    top: -99px;
    width: 150px;
    height: 100px;
    background-color: #aaaa33;
    /* border-top: 5px solid red;
    border-bottom: 5px solid green; */
    /* border-radius:50% ;*/
    /* transform: rotate(45deg); */
}