body{
    background-color: #aaaa33;
    color:green;
}
img{
    opacity:0.5;
}
.square{
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: #000;
    /* border-top: 5px solid red;
    border-bottom: 5px solid green; */
    /* border-radius:50% ;*/
    transform: rotate(45deg);
    /* transition: top 1s ; */
} 
.square:hover + .x {
    background: linear-gradient(45deg, red 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.square:hover{
    position: relative;
    top:-20px;
}
.x{
    /* margin: 50px; */
    position: relative;
    left:20px;
    top: -99px;
    width: 150px;
    height: 100px;
    background-color: #aaaa33;
    /* border-top: 5px solid red;
    border-bottom: 5px solid green; */
    /* border-radius:50% ;*/
    /* transform: rotate(45deg); */
    transition: background 2s linear;
}